@model WebApplication3.Views.ImageUpload.PresignURLImage
@{
    ViewData["Title"] = "PresignURLImage";
}

<center>
    <img src="@ViewBag.presignURL" />
    <br />
    <br />
    <a href="~/">Back to Home</a>
</center>